# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
.idea
*.csv
*.xlsx
*.png
*.tex
*.pdf
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
Vagranfile
.vagrant

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# file: ~/.gitignore_global
.DS_Store
.idea

# mine
wandb/
saved/

script_logging/
HeydarS


# analysis
analysis/files
corpus
datasets
processed_datasets

component1_query_rewriting/T5QR/query_rewriter_models
component1_query_rewriting/ConvGQR/query_rewriter_models
component3_retriever/input_data
component3_retriever/output_results

analysis_preliminary/corpus_graph_expriments_docs/doc_corpus_bm25_index
analysis_preliminary/corpus_graph_expriments_docs/wiki_document_corpus.jsonl
analysis_preliminary/corpus_graph_expriments_passages/connections_TopiOCQA_dev_ance_results.jsonl
analysis_preliminary/corpus_graph_expriments_passages/connections_TopiOCQA_dev_bm25_results.jsonl
analysis_preliminary/corpus_graph_expriments_passages/doc_as_query_dev.jsonl
analysis_preliminary/corpus_graph_expriments_passages/gold_trec_concentrated_TopiOCQA_dev.trec
analysis_preliminary/corpus_graph_expriments_passages/gold_trec_first_TopiOCQA_dev.trec
analysis_preliminary/corpus_graph_expriments_passages/gold_trec_shifted_TopiOCQA_dev.trec
analysis_preliminary/corpus_graph_expriments_passages/similar_doc_TopiOCQA_dev_ance_results.trec
analysis_preliminary/corpus_graph_expriments_passages/similar_doc_TopiOCQA_dev_bm25_results.trec

analysis_preliminary/corpus_graph_expriments_docs/original_bm25_results.trec
analysis_preliminary/corpus_graph_expriments_docs/wiki_document_corpus.jsonl
analysis_preliminary/corpus_graph_expriments_docs/doc_to_passages.json
analysis_preliminary/corpus_graph_expriments_docs/docid_to_topic.json
analysis_preliminary/corpus_graph_expriments_docs/topic_to_docid.json
